env.BASE_DIR = "$WORK/ben_stuff"

process {
   executor = 'nqsii'
   queue = 'clmedium'
   cpus = 1
   memory = 4.GB
   time = { 1.h * task.attempt }
   errorStrategy = { task.exitStatus == Integer.MAX_VALUE ? 'retry' : 'finish' }
   maxRetries = 1
   maxErrors = '-1'

   withLabel: "L_loc.*" {
      executor='local'
   }

   withLabel: "L_32g1h_.*" {
      queue = 'clexpress'
      memory = 32.GB
      time = { 1.h * task.attempt }
   }

   withLabel: "L_32g1h4t.*" {
      queue = 'clexpress'
      memory = 32.GB
      cpus = 4
      time = { 1.h * task.attempt }
   }

   withLabel: "L_32g2h5t.*" {
      memory = 32.GB
      cpus = 5
      time = { 2.h * task.attempt }
   }

   withLabel: "L_32g4h.*" {
      memory = 32.GB
      time = { 4.h * task.attempt }
   }

   withLabel: "L_32g10h_.*" {
      memory = 32.GB
      time = { 10.h * task.attempt }
   }

   withLabel: "L_32g10h4t.*" {
      memory = 32.GB
      time = { 10.h * task.attempt }
   }

   withLabel: "L_120g12h.*" {
      memory = 120.GB
      time = { 12.h * task.attempt }
   }

   withLabel: "L_120g30h.*" {
      queue = 'cllong'
      memory = 120.GB
      time = { 30.h * task.attempt }
   }

   withLabel: "120g30h6t_*" {
      queue = 'cllong'
      memory = 120.GB
      time = { 30.h * task.attempt }
      cpus = 6
   }

   }

trace { enabled = true }
report { enabled = true }